<!-- Team Section -->
    <section id="candidature" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Candidature spontanée </h2>
                    <h3 class="section-subheading text-muted">Tigris-consulting à l'écoute du marché</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                   <p>Nous recherchons sans cesse des candidats pour tout type de poste (commercial, assistanat administratif et commercial, communication).</p>
<p>N'hésitez pas à nous envoyer votre cv et lettre de motivation à :</p>
<p>recrutement@tigris-consulting.fr</p>
<p>ou en remplissant le formulaire (à voir si on peut mettre dans le formulaire la possibilité d'envoyer une pièce jointe. Si non juste laisser l'email)
</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Tigris-consulting composée de membre fort tatati tatatin !!!</p>
                </div>
            </div>
        </div>
    </section>