<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Notre but</h2>
                    <h3 class="section-subheading text-muted">vous soutenir dans votre développement.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Vous comprendre</h4>
                    <p class="text-muted">Analyser vos besoin<p>
					<p class="text-muted">Observation et immersion dans votre société</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Recruter sur mesure</h4>
					<p class="text-muted">Rédaction et diffusion d'annonces<p>
					<p class="text-muted">Pré sélection et recrutement<p>
					<p class="text-muted">Mise en situation et test de personnalité</p>
                </div>
                  <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Former et accompagner </h4>
					<p class="text-muted">Mise en place et compréhension de votre recrue<p>
					<p class="text-muted">Formations, vérification et validation des acquis</p>
                </div>
				  <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
				    <h4 class="service-heading">Vous aider à vous développer </h4>
					<p class="text-muted">Organisation et structure de l'entreprise<p>
					<p class="text-muted">Formation de management</p>
					<p class="text-muted">Programme de développement, accompagnement et suivi jusqu'à objectifs</p>
					<p class="text-muted">Développement de la communication (réseaux sociaux, presse spécialisée, site marchand, évènementiel, ...)</p>
					
                </div>
            </div>
        </div>
    </section>